[init]
	defaultBranch = main
[commit]
	gpgsign = true
[user]
	email = test@gmail.com
	name = test
	signingkey = key

[alias]
	clear = "! clear && git status"
	olog = log --oneline

[core]
	# editor = code --wait

[diff]
	tool = vscode_diff
	algorithm = histogram

[difftool "vscode_diff"]
	cmd = code --wait --diff $LOCAL $REMOTE

[merge]
	tool = vscode_merge
	conflictStyle = zdiff3

[mergetool]
	keepBackup = false

[mergetool "vscode_merge"]
	cmd = code --wait --merge $MERGED

[push]
	autoSetupRemote = true

[branch]
	sort = -committerdate
